<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
      </head>
  <body>
  <section class="banner d-flex justify-content-center align-items-center">
  <div class= "text-center">
   <h1 class= "font-weight-bold">Smart Contact Manager</h1>
   <p>Start Collecting your contacts in Smarted way. We provide efficient way of handling contacts</p>
<button class="btn btn-primary btn-lg text-white"> Get Start</button>
</div>
  </section>
   
    </body>
</html>